<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlink}}
</head>
<body> 
    <div class="container-fluid">
            {{>navbar}}
        <!-- ---- main header ----- -->
        <div class="abme">
            <div class="container-fluid main_header">
                <div class="row">
                    <div class="col-md-10 col-12 mx-auto">
                        <!-- left side div -->
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <figure>
                                    <img src="image/developer.jpg" alt="thapa" class="img-fluid">
                                </figure>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="Welcome">
                                    <h1>Welcome to <span style="color: #00D7FF;">About page</span></h1>
                                    <h2>I am a  <span style="color: #00D7FF;">MERN Stack Developer </span>and <span style="color: #00D7FF;">Java Developer.</span></h2>
                                    <h3>I am currently pursuing a Bachelor of Engineering at Chandigarh University. 
                                    I live in Hindaun City, Rajasthan. I am an analytical and detail-oriented computer science student with a strong aptitude for problem-solving. 
                                    I am proficient in data structures, algorithms, and database management systems. I am seeking opportunities to leverage my skills and knowledge in real-world projects while contributing to the growth of an organization.</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

 