<!DOCTYPE html>
<html lang="en">
<head>
  {{>headerlink}}
</head>
<body>        
        <div class="contactme">
        {{>navbar}}
        <div class="card">
            <div class="img-bx">
              <img src="image/jatindeveloper.jpg" alt="img" />
            </div>
            <div class="content">
              <div class="detail">
                <h2>Jatin Garg<br /><span>Web Developer</span></h2>
                <ul class="sci">
                  <li>
                    <a href="https://www.facebook.com/jatin.garg.9655806"><i class="fab fa-facebook-f"></i></a>
                  </li>
                  <li>
                    <a href="https://github.com/jgarg8440"><i class="fab fa-github"></i></a>
                  </li>
                  <li>
                    <a href="https://www.linkedin.com/in/jatin-garg-9a24ab232/"><i class="fab fa-linkedin-in"></i></a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/jtngrg/?hl=en"><i class="fab fa-instagram"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
    </div>


</body>
</html>