<!DOCTYPE html>
<html lang="en">
<head>
{{>headerlink}}
</head>
<body>
    <div class="container-fluid">
    <div class="portfolio">
            {{>navbar}}

   
    <div class="main">
        <div class="details">
            <div class="detail">
                <h1 style="color: #fff"><span>Hi, It's Me</span><br>I'm <span style="color:#00D7FF">Jatin Garg</span></h1>
            </div>
            <div class="detai">
                <p style="color: #fff">I have a passion for computer programming and information technology.<br>This passion has given me the ability to develop programs for programming<br> languages like <span style="color:#00D7FF">Data Structure in Java</span> and <span style="color:#00D7FF">Web Development.</span></p>
            </div>
            <div class="social">
                <a href="https://www.linkedin.com/in/jatin-garg-9a24ab232/"><i class="fa-brands fa-linkedin fa-xl"></i></a>
                <a href="https://github.com/jgarg8440"><i class="fa-brands fa-github fa-xl"></i></a>
             <a href="https://www.instagram.com/jtngrg/?hl=en"><i class="fa-brands fa-instagram fa-xl"></i></a>

            </div>
        </div>
        <div class="portimage">
           <img src="image/port-removebg-preview.png" alt="coder">
        </div>
    </div>

    <!-- about -->
    <div class="aboutdetails">
    <div class="aboutdata">
     <div class="about1" style="margin-right: 40px;">
    <img src="image/jatin.png" alt="Jatin Garg" id="jimage">
     </div>
     <div class="information">
     <h1 style="color: #fff;padding-bottom: 5px;">About <span style="color:#00D7FF">Me</span></h1>
     <div class="education"><i class="fa-solid fa-graduation-cap" style="color: #628ad0;"><span class="edu" style="color: #fff;">  I am currently pursuing a Bachelor of Engineering at Chandigarh University.</span></i></div>
     <div class="jh"><i class="fa-solid fa-house-user" style="color: #628ad0;" ><span class="home" style="color: #fff;">  Sheetla Colony, Hindaun City, Rajasthan. </span></i></div><br>
     <div class="jp"><i class="fa-solid fa-phone-volume" style="color: #628ad0;" ><span class="phone" style="color: #fff;">  +91 7231808234</span></i></div><br>
     <div class="jm"><i class="fa-solid fa-envelope" style="color: #628ad0;" ><span class="mail" style="color: #fff;">  jgarg8440@gmai.com</span></i></div>
     </div>
    </div>
</div>
    
<!-- Skills -->
<div class="arrow"><h2 style="color: #00D7FF;margin-left: 3em;" class="Skill"><u>Skills</u></h2><span><img src="image/right-arrow.png" alt="Skill arrow" id="Skillarrow"></span></div>
<div class="container">
    <div class="column" style="border-radius: 12px;">
      <h3 style="color: #00D7FF;margin-bottom: 20px;"><span><img src="image/coding.png" alt="web development" id="webdevelopment"></span>Full Stack Developer</h3>
      <p class="sk">Front-end  -) HTML, CSS, and JavaScript</p>
      <p class="sk">Back-end -) Node.js,Express.js,MongoDB</p>
    </div>
    <div class="column" style="border-radius: 12px;">
      <h3 style="color: #00D7FF;margin-bottom: 20px;"><span><img src="image/java.png" alt="web development" id="webdevelopment"></span>Java(Advance)</h3>
      <p class="sk">I can solve over 250+ questions on LeetCode.</p>
      <p class="sk">I possess a proficient understanding of data structures, demonstrating a strong command over their concepts and implementation.</p>
    </div>
    <div class="column" style="border-radius: 12px;">
      <h3>Column 3</h3>
      <p>This is the content of column 3.</p>
    </div>
  </div>

  <!-- Achivement -->
  <div class="arrow" id="Achieved"><h2 style="color: #00D7FF;margin-left: 3em;" class="Skill"><u>Achievement</u></h2><span><img src="image/right-arrow.png" alt="Skill arrow" id="Skillarrow"></span></div>
  <div class="ag-format-container">
    <div class="ag-courses_box">
      <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            Elite Certificate in Discrete Mathematics at IIT Madras.
          </div>
  
          <div class="ag-courses-item_date-box">
            <span class="ag-courses-item_date">
             Jul -Oct 2022
            </span>
          </div>
        </a>
      </div>
  
      <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            Certificate in Probability and Statistics at IIT Kharagpur.
          </div>
  
          <div class="ag-courses-item_date-box">
            <span class="ag-courses-item_date">
             Jan-Apr 2023
            </span>
          </div>
        </a>
      </div>
  
      <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            Certificate in Java awarded by<br> HackerRank.
          </div>
  
          <div class="ag-courses-item_date-box">
            <span class="ag-courses-item_date">
              25 June 2023
            </span>
          </div>
        </a>
      </div>
  
      <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            Achieved the 90th rank in Rajasthan, India, in the International Math Wizard Olympiad.
          </div>
  
          <div class="ag-courses-item_date-box">
            <span class="ag-courses-item_date">
               2018
            </span>
          </div>
        </a>
      </div>
       
        <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
           Certificate Introduction to Java and Object-Oriented Programming (University of Pennsylvania).
          </div>
        </a>
      </div>  

      <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            I have completed and obtained certification in the basics of data science using 'R'.
          </div>
  
          <div class="ag-courses-item_date-box">
            Start:
            <span class="ag-courses-item_date">
              22.6.2022
            </span>
          </div>
        </a>
      </div>  
    </div>
  </div>

    <!-- form -->
    <div class="arrow"><h2 style="color: #00D7FF;margin-left: 3em;" class="Skill"><u>Any Suggestions</u></h2><span><img src="image/right-arrow.png" alt="Skill arrow" id="Skillarrow"></span></div>

    <div class="form-container">
        <div class="formdiv">
        <form action="/index" method="POST">
          <div class="form-row">
            <label for="first-name">First Name:</label>
            <input type="text" id="first-name" name="firstname" required>
          </div>
          <div class="form-row">
            <label for="last-name">Last Name:</label>
            <input type="text" id="last-name" name="lastname" required>
          </div>
          <div class="form-row">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
          </div>
          <div class="form-row">
            <label for="description">Description:</label>
            <textarea id="description" name="description" required></textarea>
          </div>
          <div class="form-row" id="submit">
            <input type="submit" value="Submit">
          </div>
        </form>
    </div>
      </div>
      </div>
    </div>
</body>
</html>
