<div class="navbar">
            <div class="icon"></div>
            <div class="links">
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/contact">Contact</a>
            </div>
        </div>